## Business Understanding
### Business Scenario
Your team is trying to venture into the Indian start-up
ecosystem. As the data expert of the team, you are to
investigate the ecosystem and propose the best course
of action.

*Analyze funding received by start-ups in India from
2018 to 2021.*
- Separate data for each year of funding will is
provided.
- In these datasets, you'll find the start-ups' details,
the funding amounts received, and the investors'
information.

### Business Objective
The aim of this project is to perform analysis on the Indian start-ups ecosystem and advice stakeholders on which venture to invest in to increase the potential of high profit/income.

In [1]:
#import all necessary libraries

# data manipulation
import pandas as pd
import numpy as np

# data visualization libraries
import matplotlib.pyplot as plt
from plotly import express as px
import seaborn as sns

# statistical libraries
from scipy import stats
import statistics as stat

# database manipulation libraries
import pyodbc
from dotenv import dotenv_values

# hide warnings
import warnings
warnings.filterwarnings("ignore")

C:\Users\Alphagoal\AppData\Local\Temp\ipykernel_11288\3160925325.py:4: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## Setup Database Connection

In [2]:
# load environment variables
environment_variables = dotenv_values(".env")

# load database configurations
database = environment_variables.get("DB_DATABASENAME")
server = environment_variables.get("DB_SERVER")
username = environment_variables.get("DB_USERNAME")
password = environment_variables.get("DB_PASSWORD")

# database connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [3]:
# create pyodbc connector
connection = pyodbc.connect(connection_string)

## Data Understanding
### Loading dataset from the different sources

In [4]:
# Loading 2021 dataset from MS SQL server
query_2021 = " SELECT * FROM dbo.LP1_startup_funding2021"
df_2021 = pd.read_sql(query_2021,connection)
df_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [5]:
# Load 2020 dataset from MS SQL Server
query_2020 = "SELECT * FROM dbo.LP1_startup_funding2020"
df_2020 = pd.read_sql(query_2020,connection)
df_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [6]:
# load 2019 dataset
df_2019 = pd.read_csv("data/startup_funding2019.csv")
df_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [7]:
# load 2018 dataset
df_2018 = pd.read_csv("D:\Programming Stuffs\DAP(Azubi Africa)\Career Accelerator\Sprint1\Indian_Start_Up_Analysis\data\startup_funding2018.csv")
df_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [8]:
# concatenated all dataset
data = pd.concat([df_2018,df_2019,df_2020,df_2021],ignore_index=False)
data.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Company_Brand,What_it_does,column10
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# save dataframe to csv
data.to_csv("Indian_startup_dataset")

In [10]:
# convert final dataset from csv to dataframe
data.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Company_Brand,What_it_does,column10
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# view the last five rows
data.tail()

,Company Name,Industry,Round/Series,Amount,Location,About Company,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Company_Brand,What_it_does,column10
1204,NaN,NaN,NaN,$3000000,NaN,NaN,NaN,2019.0,Gurugram,Staffing & Recruiting,NaN,"Chirag Mittal, Anirudh Syal",Endiya Partners,NaN,Pre-series A,Gigforce,A gig/on-demand staffing company.,NaN
1205,NaN,NaN,NaN,$20000000,NaN,NaN,NaN,2015.0,New Delhi,Food & Beverages,NaN,Bala Sarda,IIFL AMC,NaN,Series D,Vahdam,VAHDAM is among the world’s first vertically i...,NaN
1206,NaN,NaN,NaN,$55000000,NaN,NaN,NaN,2019.0,Bangalore,Financial Services,NaN,"Arnav Kumar, Vaibhav Singh",Owl Ventures,NaN,Series C,Leap Finance,International education loans for high potenti...,NaN
1207,NaN,NaN,NaN,$26000000,NaN,NaN,NaN,2015.0,Gurugram,EdTech,NaN,Ruchir Arora,"Winter Capital, ETS, Man Capital",NaN,Series B,CollegeDekho,"Collegedekho.com is Student’s Partner, Friend ...",NaN
1208,NaN,NaN,NaN,$8000000,NaN,NaN,NaN,2019.0,Bangalore,Financial Services,NaN,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital",NaN,Series A,WeRize,India’s first socially distributed full stack ...,NaN

In [12]:
# check the shape of data
data.shape

(2879, 18)

In [13]:
# check for columns in the data
data.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company', 'Company/Brand', 'Founded', 'HeadQuarter', 'Sector',
       'What it does', 'Founders', 'Investor', 'Amount($)', 'Stage',
       'Company_Brand', 'What_it_does', 'column10'],
      dtype='object')

In [14]:
# descriptive statistics of data
data.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Company Name,526,525,TheCollegeFever,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Industry,526,405,—,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Round/Series,526,21,Seed,280,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Amount,2533,754,—,148,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Location,526,50,"Bangalore, Karnataka, India",102,NaN,NaN,NaN,NaN,NaN,NaN,NaN
About Company,526,524,"TheCollegeFever is a hub for fun, fiesta and f...",2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company/Brand,89,87,Kratikal,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founded,2110.0,NaN,NaN,NaN,2016.079621,4.368006,1963.0,2015.0,2017.0,2019.0,2021.0
HeadQuarter,2239,123,Bangalore,764,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sector,2335,502,FinTech,173,NaN,NaN,NaN,NaN,NaN,NaN,NaN
What it does,89,88,Online meat shop,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Founders,2334,1980,Byju Raveendran,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investor,2253,1777,Inflection Point Ventures,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Amount($),89,50,Undisclosed,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Stage,1415,62,Seed,326,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company_Brand,2264,1745,BharatPe,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
What_it_does,2264,2112,BYJU'S is an educational technology company th...,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
column10,2,2,Pre-Seed,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# check for the Unique sectors
sectors = data["Sector"].unique()
sectors

array([nan, 'Ecommerce', 'Edtech', 'Interior design', 'AgriTech',
       'Technology', 'SaaS', 'AI & Tech', 'E-commerce', 'E-commerce & AR',
       'Fintech', 'HR tech', 'Food tech', 'Health', 'Healthcare',
       'Safety tech', 'Pharmaceutical', 'Insurance technology', 'AI',
       'Foodtech', 'Food', 'IoT', 'E-marketplace', 'Robotics & AI',
       'Logistics', 'Travel', 'Manufacturing', 'Food & Nutrition',
       'Social Media', 'E-Sports', 'Cosmetics', 'B2B', 'Jewellery',
       'B2B Supply Chain', 'Games', 'Food & tech', 'Accomodation',
       'Automotive tech', 'Legal tech', 'Mutual Funds', 'Cybersecurity',
       'Automobile', 'Sports', 'Healthtech', 'Yoga & wellness',
       'Virtual Banking', 'Transportation', 'Transport & Rentals',
       'Marketing & Customer loyalty', 'Infratech', 'Hospitality',
       'Automobile & Technology', 'Banking', 'EdTech',
       'Hygiene management', 'Escrow', 'Networking platform', 'FinTech',
       'Crowdsourcing', 'Food & Bevarages', 'HealthTech',
       'Fashion startup', 'Food Industry', 'Food Delivery',
       'Virtual auditing startup', 'Gaming', 'Work fulfillment',
       'AI startup', 'Telecommunication', 'Tech Startup', 'Retail',
       'Medtech', 'Tyre management', 'Cloud company', 'Software company',
       'Venture capitalist', 'Renewable player', 'IoT startup',
       'SaaS startup', 'Aero company', 'Marketing company',
       'Retail startup', 'Co-working Startup', 'Finance company',
       'Tech company', 'Solar Monitoring Company',
       'Video sharing platform', 'Gaming startup',
       'Video streaming platform', 'Consumer appliances',
       'Blockchain startup', 'Conversational AI platform', 'Real Estate',
       'SaaS platform', 'AI platform', 'Fusion beverages', 'HR Tech',
       'Job portal', 'Digital Media', 'Dairy startup',
       'Content management', 'Spacetech', 'Trading platform',
       'AI Company', 'Photonics startup', 'Entertainment', 'Scanning app',
       'Skincare startup', 'Food and Beverages', 'Biotechnology company',
       'FoodTech', 'Proptech', 'CleanTech', 'Fitness startup',
       'PaaS startup', 'Beverages', 'Automobiles', 'Deeptech',
       'EV startup', 'AR/VR startup', 'Recruitment startup',
       'QSR startup', 'Video platform', 'Fertility tech',
       'Luxury car startup', 'FM', 'Nutrition sector', 'Tech platform',
       'Video', 'Retail Tech', 'HeathTech', 'Sles and marketing',
       'LegalTech', 'Car Service', 'Bike marketplace', 'Agri tech',
       'Reatil startup', 'AR platform', 'Consumer Goods',
       'Content marketplace', 'Interior Design', 'Rental space',
       'Soil-Tech', 'Ayurveda tech', 'Packaging solution startup',
       'Cleantech', 'Sanitation solutions', 'HealthCare', 'Home Design',
       'InsureTech', 'AI Startup', 'Solar solution', 'Jewellery startup',
       'Multinational conglomerate company', 'Deeptech startup',
       'Social Network', 'Publication', 'Tech', 'Fashion', 'Finance',
       'Venture capital', 'Entreprenurship', 'Food devlivery',
       'Warehouse', 'Online financial service', 'Eyeglasses',
       'Battery design', 'Online credit management startup', 'Beverage',
       'TravelTech', 'Agriculture', 'Startup laboratory',
       'Personal care startup', 'Customer service company',
       'SaaS\xa0\xa0startup', 'Marketing startup', 'Service industry',
       'Social media', 'AR startup', 'HR Tech startup',
       'Automotive Startup', 'Food Startup', 'EdTech Startup',
       'Car Trade', 'EdtTech', 'AI Platform', 'Automation', 'Solar SaaS',
       'WL & RAC protection', 'Social commerce', 'Home interior services',
       'Agritech startup', 'API platform', 'Deep Tech', 'Electricity',
       'Automotive company', 'FMCG', 'Insurance Tech',
       'Video personalization', 'Software Company', 'Biomaterial startup',
       'IT', 'Craft Beer', 'Education', 'Investment',
       'Linguistic Spiritual', 'Construction', 'Battery manufacturer',
       'Nano Distribution Network', 'AI health', 'Dating app', 'Media',
       'Healthcare/Edtech', 'Social Commerce', 'Agritech/Commerce',
       'Mobility tech', 'Social e-commerce', 'Food & Logistics',
       'SpaceTech', 'Nutrition Tech', 'HR', None, 'Agritech', 'AR/VR',
       'Appliance', 'Mental Health', 'Solar Solution', 'B2B marketplace',
       'Fashion Tech', 'Nutrition tech', 'Health & Wellness',
       'Cloud Kitchen', 'IoT/Automobile', 'Eye Wear', 'Digital tech',
       'Data Intelligence', 'Co-living', 'Food & Beverages', 'Automotive',
       'Defense tech', 'Marketplace', 'Construction tech', 'Nutrition',
       'Coworking', 'Micro-mobiity', 'Auto-tech', 'Beauty', 'Robotics',
       'Logitech', 'Med Tech', 'Life sciences', 'Retail Aggregator',
       'Deep Tech AI', 'Biotech', 'Blockchain', 'HrTech',
       'Mobility/Transport', 'Rental', 'AI & Debt', 'SaaS/Edtech',
       'Transport', 'Co-working', 'Insurtech', 'Cryptocurrency', 'Legal',
       'Fitness', 'EV', 'Supply chain, Agritech', 'Pharma',
       'Foodtech & Logistics', 'Housing', 'Data Analytics',
       'Investment Tech', 'Financial Services', 'Biopharma', 'Dairy',
       'Beauty & wellness', 'Travel & SaaS', 'Tourism & EV', 'Media Tech',
       'Location Analytics', 'E store', 'Data Science', 'Insurance',
       'Health and Fitness', 'Interior & decor', 'eMobility',
       'Automation tech', 'Media & Networking', 'E-market',
       'AI & Data science', 'Travel tech', 'Automotive and Rentals',
       'E-tail', 'AI & Media', 'Machine Learning', 'Content Marktplace',
       'Visual Media', 'Hygiene', 'VR & SaaS', 'Sales & Services',
       'AI & Deep learning', 'Housing & Rentals', 'Estore', 'Marketing',
       'E tailor', 'E-mobility', 'Ad-tech', 'Neo-banking',
       'Transport Automation', 'Techonology', 'AI Robotics',
       'Preschool Daycare', 'Food diet', 'B2B Agritech', 'E-connect',
       'Tech hub', 'Consultancy', 'Pharmacy', 'Deisgning', 'Taxation',
       'Automobile Technology', 'B2B E-commerce', 'Home services',
       'B2B service', 'Helathcare', 'Renewable Energy', 'Electronics',
       'IT startup', 'Aeorspace', 'Dating', 'Oil and Energy',
       'Telecommuncation', 'Milk startup', 'AI Chatbot', 'Food delivery',
       'Fantasy sports', 'Video communication', 'Skill development',
       'Recruitment', 'Computer Games', 'Information Technology',
       'Apparel & Fashion', 'Logistics & Supply Chain', 'SportsTech',
       'HRTech', 'Wine & Spirits', 'Mechanical & Industrial Engineering',
       'Spiritual', 'Industrial Automation', 'Lifestyle',
       'Computer software', 'Tech startup', 'Digital mortgage',
       'Information Technology & Services', 'Furniture', 'Healtcare',
       'Consumer Electronics', 'Tobacco', 'Insuretech', 'MLOps platform',
       'Venture Capital', 'Pet care', 'Drone', 'Wholesale', 'E-learning',
       'Consumer Services', 'Venture Capital & Private Equity',
       'Health, Wellness & Fitness', 'OTT', 'Education Management',
       'Computer Software', 'Software Startup',
       'Computer & Network Security', 'Capital Markets', 'Social network',
       'Hospital & Health Care', 'Music', 'Hauz Khas',
       'Primary Business is Development and Manufacturing of Novel Healthcare Products in Effervescent forms using imported propriety ingredients.',
       "MoEVing is India's only Electric Mobility focused Technology Platform with a vision to accelerate EV adoption in India.",
       'Mobility', 'Digital platform', 'B2B Ecommerce', 'Online Media',
       'Mobile Games', 'Food Production', 'Podcast', 'Battery',
       'Content publishing', 'Water purification', 'Content commerce',
       'Innovation Management', 'Celebrity Engagement', 'Personal Care',
       'Cannabis startup', 'Blogging', 'Consulting', 'BioTechnology',
       'B2B Marketplace', 'Health care', 'Social audio',
       'Fashion and lifestyle', 'Delivery service', 'B2B Manufacturing',
       'Home Decor', 'Solar', 'TaaS startup', 'Manufacturing startup',
       'Vehicle repair startup', 'Advisory firm', 'Legaltech',
       'Pollution control equiptment', 'Fashion & Lifestyle', 'D2C',
       'Environmental Services', 'Merchandise', 'Facilities Services',
       'Marketing & Advertising', 'Human Resources', 'Eyewear',
       'D2C Business', 'Biotechnology', 'Farming', 'NFT Marketplace',
       'Internet', 'Consumer software', 'Social community', 'Fishery',
       'Renewables & Environment', 'Online storytelling', 'Aviation',
       'IT company', 'Environmental service', 'Job discovery platform',
       'D2C Fashion', 'Heathcare', 'CRM', 'Software', 'D2C startup',
       'Innovation management', 'Community platform', 'Networking',
       'Commercial Real Estate', 'Consumer service', 'Consumer goods',
       'MarTech', 'Advertisement', 'Content creation',
       'Augmented reality', 'Bike Rental', 'Beauty products', 'Tourism',
       'FemTech', 'Cultural', 'Supply chain platform', 'Social platform',
       'Real estate', 'AI company', 'Sports startup', 'Matrimony',
       'Crypto', 'Clothing', 'Analytics', 'IoT platform', 'Commerce',
       'Defense & Space', 'Business Supplies & Equipment', 'NFT',
       'Oil & Energy', 'Company-as-a-Service', 'Textiles',
       'Professional Training & Coaching', 'Maritime',
       'Housing Marketplace', 'Furniture Rental', 'Telecommunications',
       'Equity Management', 'Cloud kitchen', 'Nanotechnology',
       'Community', 'Higher Education',
       'Mechanical Or Industrial Engineering', 'D2C jewellery',
       'Sales and Distribution', 'Information Services',
       'Translation & Localization', 'Investment Banking', 'Femtech',
       'sports', 'Foootwear', 'Legal Services', 'Veterinary',
       'Arts & Crafts', 'Investment Management', 'Management Consulting',
       'B2B startup',
       'Sochcast is an Audio experiences company that give the listener and creators an Immersive Audio experience',
       'Design', 'B2B Travel', 'Manchester, Greater Manchester',
       'Product studio', 'Aviation & Aerospace', 'Staffing & Recruiting'],
      dtype=object)

## Hypothesis Testing
*Hypothesis* - The amount of funds a company receive depends on the sector a company finds itself
- Null Hypothesis(H_o) - The funds a company receive does not depend on the sector of investment
- Alternate Hypothesis(H_a) - The funds a company receive depends on the sector of investment

### Business Questions
- Which particular sector received the most funding?
- What is the distribution of sectors based on location?
- Which year had the most start-up companies being set-up?
- What is the distribution of start-ups based on their locations?
- What is the distribution of companies based on the Round/Series